<div class="login-container">
    <p>
        <label for="username" data-prop-text="Username"></label>
        <input type="text" class="user-login-entry username" id="username">
    </p>

    <p>
        <label for="password" data-prop-text="Password"></label>
        <input type="password" class="user-login-entry password" id="password">
    </p>

    <p>
        <span class="login-button-puller"></span>
        <button class="common-button" data-prop-text="Login"></button>
    </p>
    <script type="text/javascript">
        textIntializer($(".login-container *"))
    </script>
</div>