<div class="setting-container">
    <p>
        <label for="change-username" data-prop-text="ChangeUsername"></label>
        <input type="text" class="user-setting change-username" id="change-username">
    </p>

    <p>
        <label for="change-password" data-prop-text="ChangePassword"></label>
        <input type="password" class="user-setting change-password" id="change-password">
    </p>
    <p>
        <label for="change-theme" data-prop-text="ChangeTheme"></label>
        <input type="text" class="user-setting change-theme" id="change-theme">
    </p>
    <p>
        <span class="login-button-puller"></span>
        <button class="common-button" data-prop-text="Submit"></button>
    </p>
    <script type="text/javascript">
        textIntializer($(".setting-container *"))
    </script>
</div>