@font-face {
    font-family: 'BKoodakBold';
    src: url('fonts/BKoodakBold.eot?#') format('eot'), url('fonts/BKoodakBold.woff') format('woff'), url('fonts/BKoodakBold.ttf') format('truetype');
}
@font-face {
    font-family: 'BYekan';
    src: url('fonts/BYekan.eot?#') format('eot'), url('fonts/BYekan.woff') format('woff'), url('fonts/BYekan.ttf') format('truetype');
}

* {
    font: 12px normal, BkoodakBold, tahoma, sans-serif;
}

body {
    background: url("images/bg-noise.png?") repeat scroll 0 0 #DAF2DB;
    min-width: 600px;
}
body, html {
    height: 100%;
}
div#container 
{
    height: 100%;
    margin: 0 auto -71px;
    min-height: 550px;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: url("images/project-icons-sprite.png");
    background-repeat: no-repeat;
    display: block;
    height: 26px;
    width: 26px;
}

b.icon-user-info-login {
    background-position: 0 -65px;
}

b.icon-user-info-home {
    background-position: 0 -33px;
}
b.icon-user-info-setting {
    background-position: -2px -163px;
}
b.icon-user-info-notification {
    background-position: 0 0;
}

b.icon-user-info-notification span.notification-counter-container {
    background: none repeat scroll 0 0 #DC220D;
    border-radius: 20% 20% 20% 20%;
    display: block;
    height: 19px;
    position: relative;
    right: -16px;
    top: -14px;
    width: 19px;
}

b.icon-user-info-notification span.notification-counter-container i.notification-counter-counter {
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    left: -6px;
    position: relative;
    top: 0;
}



div#header div.header-container {
    background: none repeat scroll 0 0 #58AB7B;
    height: 91px;
    position: relative;
    width: 100%;
    z-index: 2;
}

div#header div.header-container div.user-control-container {
    float: left;
    height: 20px;
    margin: 10px;
    width: 200px;
}

div#header div.header-container div.user-control-container button.user-info:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 3px 5px #222222;
}

div#header div.header-container div.user-control-container button.user-info {
    background-color: rgba(255, 255, 255, 0.28);
    border: 0 none;
    margin: 15px 0 2px;
    padding: 4px;
    transition: background 0.2s ease-in 0s;
}
/*Footer Design*/

div#footer {
    background: none repeat scroll 0 0 #747474;
    height: 70px;
}
div#footer div.footer-container div.footer-content-wrapper {
    display: block;
}
div#footer div.footer-container div.footer-content-wrapper span {
    color: #FCFFFD;
    display: block;
    float: right;
    font-family: BYekan;
    font-size: 34px;
    padding: 7px;
    position: relative;
    text-shadow: 1px 1px 0 #000000;
    top: 2px;
}
/*Login Design*/
div.login-container p {
    float: right;
    margin: 4px 0 4px 4px;
}

div.login-container label {
    direction: rtl;
    display: block;
    float: right;
    min-width: 50px;
    padding: 6px;
    width: auto;
}

div.login-container span.login-button-puller {
    display: block;
    float: right;
    min-width: 58px;
}

div.login-container input[type="text"], div.login-container input[type="password"] {
    padding: 4px;
    width: 135px;
}

div.login-container input[type="text"], div.login-container input[type="password"] {
    background: none repeat scroll 0 0 #F8FBF9;
    border: 1px solid #7E7878;
    border-radius: 2px 2px 2px 2px;
    padding: 7px;
    width: 155px;
    -moz-transition: box-shadow 0.1s linear 0s;
}

div.login-container input[type="text"]:hover, div.login-container input[type="password"]:hover {
    border-color: #181818;
}

div.login-container input[type="text"]:focus, div.login-container input[type="password"]:focus {
    box-shadow: 0 0 6px #55B470, 1px 1px 0 #E3E3E3 inset;
    border-color: #4D913B;
}


